body {
    font-family: 'b mitra';
    background: #3e8e80;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}
.navbar, .dropdown-menu {
    background: #036b58;
    border: none;

}

.nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
    border-bottom: 3px solid transparent;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    border-bottom: 3px solid transparent;
    background: rgba(154, 154, 154, 0.27);
}

.navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
    color: #fff;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
    border-bottom: #b6f423 4px solid;
}

.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
    border-bottom: #82e2ea 4px solid;
}

.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
    border-bottom: #f8b42c 4px solid;
}

.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
    border-bottom: #fd594a 4px solid;
}

.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
    border-bottom: #e8479d 4px solid;
}

.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
    border-bottom: #a12eeb 4px solid;
}

.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
    border-bottom: #4785d9 4px solid;
}

.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
    border-bottom: #2aed9a 4px solid;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #000000;
}

/* Credit to bootsnipp.com for the css for the color graph
 ESTO SOLO ES PARA EL FORMULARIO DE LOGIN
*/
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.text-right {
    text-align: right;
}

.f-right {
    float: right;
}

/*-------------navbar-----------------*/
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
/*-------------item------------------*/

.item {
    background-color: #1b2936;
    color: white;
    border: 5px solid #036b58;
    height: auto;
}

.media {
    height: 366px;
}

.media .caption {
    display: none;
}

.media:hover .caption {
    display: block;
    position: absolute;
    text-align: justify;
    padding: 30px;
    font-weight: 700;
}

/*.media:hover{*/
/*opacity: 0.5;*/
/*}*/

.media:hover img {
    background: black;
    opacity: 0.2;
}

.media:hover video {
    background: black;
    opacity: 0.2;
}
.profile-pic {
    width: 70px;
    border-radius: 100%;
    margin-top: 10px;
}

.profile-name {
    margin: 0 auto;
    /*padding-top: 80px;*/
    margin-bottom: 40px;
    border-bottom: 1px solid #4ff9f7;
}

.profile-name h2 {
    font-size: 20px;
    margin-bottom: -14px;
    text-align: center;
}

.profile-name h2 span {
    background: #4ff9f7;
    color: #000;
    border-radius: 20px;
    padding: 10px 20px;
}
.icon img {
    width: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.bio {
    margin-top: 45px;
}
.text-section {
    margin: 15px;
    padding: 2px;
    border-top: 2px solid white;
}

.photo {
    width: 100%;
}

.item-footer {
    direction: ltr;
    padding: 15px;
}

.icon-pack {
    display: inline;
    padding: 15px;
}

/* -------------------------footer section---------------------------*/

.footer {
    background: #036b58;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #F5F5F5;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #F5F5F5
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
}