@font-face {
    font-family: 'IRANSansWeb';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/IRANSansWeb.ttf') format('truetype')
}

body {
    font-family: 'IRANSansWeb' !important;
    padding-top: 0 !important
}