
.con-item {
    text-align: right;
    border: 1px solid #303030;
    margin-bottom: 10px;
    font-size: 14px;
}

.con-item i {
    background: #303030;
    color: #e53935;
    padding: 10px;
    font-size: 16px;
    min-width: 36px;
}

.con-item span {
    position: relative;
    top: -3px;
    margin-right: 5px;
}

.sentence-text {
    margin-bottom: 25px;
    text-align: center;
}

.contact-form .input-group-addon {
    min-width: 39px;
}

.contact-form .input-group-addon i {
    color: #e53935;
}

.btn-submit {
    padding-left: 20px;
    padding-right: 20px;
}