.home-slider-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    position: relative;
}

.home-slider-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: right;
}

.home-slider-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}

.home-slider-overlay span {
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
}

table .diff {
    font-size: 12px;
    direction: ltr;
}

.btn-android {
    padding-left: 5px;
}

.btn-app a i {
    display: block;
    font-size: 60px;
    margin-bottom: 5px;
}

.btn-android a,
.btn-android a:hover,
.btn-android a:active,
.btn-android a:focus {
    background: #8bc34a !important;
    color: #fff !important;
}

.btn-apple a,
.btn-apple a:hover,
.btn-apple a:active,
.btn-apple a:focus {
    background: #8f8e94 !important;
    color: #fff !important;
}

.btn-app a {
    height: auto !important;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0;
}

.btn-telegram a,
.btn-telegram a:hover,
.btn-telegram a:active,
.btn-telegram a:focus {
    background: #2da5e1 !important;
    color: #fff !important;
}

.btn-telegram a {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    margin-bottom: 10px;
    border: 0;
}

.btn-apple {
    padding-right: 5px;
}

.btn-instagram a {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    border: 0;
}

.btn-instagram a,
.btn-instagram a:hover,
.btn-instagram a:active,
.btn-instagram a:focus {
    background: #8a3ab9 !important;
    color: #fff !important;
}

.card-content {
    overflow-x: auto;
}

.card-content table {
    min-width: 800px;
}

.social-network {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-network li {
    display: inline-block;
    width: 49%;
    text-align: center;
    margin-bottom: 15px;
}

.social-network li a {
    padding: 20px;
    background: #fff;
    border-radius: 300px;
    display: inline-flex;
    text-decoration: none;
    transition: all ease-in-out .5s;
}

.social-network li a i {
    font-size: 20px;
    color: #e53935;
}

.social-network li a:hover {
    transform: rotate(360deg);
    background: #ffd1cf;
}

@media (max-width: 767px) {
    .home-slider-image {
        height: 200px;
    }
}

.currency-icon {
    width: 24px;
}

.currency-icon-td {
    width: 28px;
}

.currency-table th,
.currency-table td {
    font-size: 12px;
}

.table-title {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}