.news-panel .panel-heading {
    background: #e53935;
}

.news-panel .panel-heading h2 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.news-panel .panel-body p {
    font-size: 15px;
    line-height: 30px;
}

.news-panel .news-date,
.news-panel .news-time {
    font-size: 14px;
    padding-top: 14px;
}

.news-panel .news-time i {
    position: relative;
    top: 1px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #e53935;
    border-color: #e53935;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover,
.pagination > li > a, .pagination > li > span {
    color: #e53935;
}