.content {
    text-align: justify;
    font-size: 14px;
    line-height: 30px;
}

.card .card-content {
    padding: 50px;
}

.title h2 {
    margin: 0 0 25px 0;
}

.content img{
    max-width: 100%;
}