@font-face {
    font-family: 'primary_font';
    src: url('../../fonts/IRANSansWeb.ttf') format('truetype');
}

body {
    font-family: 'primary_font';
    font-size: 16px;
    color: #303030;
    background: #e9e9e9;
}

.logo {
    width: 100%;
    padding: 0 30px;
}

.logo-container {
    background: #fff;
}

.logo-container .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default {
    background: #fff;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 1px solid #e53935;
    border-bottom: 1px solid #e53935;
    background: #e53935;
}

.navbar-default .navbar-nav > li > a {
    color: #303030;
}

.card {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card .card-content {
    padding: 10px;
}

.input-group-addon:first-child {
    border-right: 1px solid #ccc;
}

/*------------------footer section---------------------------*/

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    text-align: right;
    background: #e53935;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #fff;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #fff;
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 30px;
    padding: 0;
    width: 40%;
    color: #000;
}

.newsletter-box {
    overflow: hidden;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    direction: ltr;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 8px 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #edbabc;
    background: #edbabc;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #e53935 !important;
}

.news-sender {
    padding: 0;
}

.news-sender li div input {
    color: #000;
}

.footer-bottom {
    background: #808285;
    border-top: 1px solid #DDDDDD;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer-bottom p.pull-left {
    direction: ltr;
    font-size: 12px;
    margin-bottom: 0;
}

.payments {
    font-size: 1.5em;
}

.about {
    text-align: justify;
}

.center-text {
    text-align: center;
}

table.text-center th,
table.text-center td {
    text-align: center;
}

.lSSlideOuter {
    direction: ltr;
}

.lSPrev, .lSNext {
    text-align: center;
}

.form-control,
.btn,
.panel,
.panel-heading,
.panel-body,
.input-group-addon,
.input-group {
    border-radius: 0 !important;
}

.form-control:focus {
    border-color: #e53935;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.certificate {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 12px;
}
.header-phone{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 16px;
}

.btn-red {
    color: #FFFFFF;
    background-color: #e53935;
    border-color: #e53935;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
    color: #FFFFFF;
    background-color: #e53935;
    border-color: #e53935;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
    background-image: none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
    background-color: #e53935;
    border-color: #e53935;
}

.btn-red .badge {
    color: #e53935;
    background-color: #FFFFFF;
}

.jq-toast-single ul li {
    font-size: 15px;
    line-height: 20px;
    font-family: 'primary_font';
}

.jq-toast-wrap {
    width: 300px;
}

.jq-toast-single {
    border-radius: 0;
    font-size: 15px;
    line-height: 20px;
    font-family: 'primary_font';
}

.menu-date {
    color: #303030 !important;
    padding: 9px 15px;
    position: absolute;
    left: 10%;
    top: 0;
    text-decoration: none;
}

.menu-date:hover,
.menu-date:focus,
.menu-date:active {
    text-decoration: none;
}

.menu-date ul {
    padding: 0;
    margin: 0;
}

.menu-date ul li {
    list-style: none;
    font-size: 12px;
}

.clock-canvas {
    /*background-image: url('../../img/logo-30.png');*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}

.clocks {
    padding: 0;
    text-align: center;
}

.clocks li {
    display: inline-block;
    width: 15%;
    text-align: center;
    height: 100px;
}

.clocks li p {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 0;
}

.clocks canvas {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .clocks li {
        width: 30%;
    }

    .menu-date {
        display: none;
    }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.social {
    width: 100%;
    display: block;
    text-align: center;
}