@font-face {
    font-family: 'primary_font';
    src: url('../../fonts/IRANSansWeb.ttf') format('truetype');
}

html, body {
    font-family: 'primary_font' !important;
}

.card-title-button {
    float: left;
    margin-bottom: -5px !important;
    margin-top: -5px !important;
}

a.btn-primary,
a.btn-success,
a.btn-danger,
a.btn-info {
    color: #fff !important;
}

table.text-center th,
table.text-center td {
    text-align: center;
    vertical-align: middle;
}

.breadcrumb {
    margin-bottom: 0;
}

.alert ul {
    margin: 0;
}

select.form-control {
    padding: 2px 12px;
}

.datetimepicker {
    direction: ltr;
}

.delete-form {
    display: inline-block;
}