﻿.popover {
    min-width: 300px;
    max-width: 600px !important;
    right: auto !important;
}

[data-name="md-datetimepicker-popovercontent"] {
    padding: 5px 6px;
}

    [data-name="md-datetimepicker-popovercontent"] a[data-name="go-today"] {
        color: #333;
        width: 100%;
        display: block;
        text-decoration: none;
    }

[data-name="md-datetimepicker-title"] {
    direction: rtl;
    text-align: center;
    font-family: Tahoma;
    font-size: 12px;
}
[data-name="md-datetimepicker-title"][data-isgregorian="true"] {
    direction: ltr;
}

[data-name="md-persiandatetimepicker"] {
}

    [data-name="md-persiandatetimepicker"] button {
        font-size: 12px;
    }

    [data-name="md-persiandatetimepicker"] table.table-striped {
        margin-bottom: 0;
        direction: rtl;
    }

    [data-name="md-persiandatetimepicker"][data-isgregorian="true"] table.table-striped {
        direction: ltr;
    }

    [data-name="md-persiandatetimepicker"] table.table td {
        text-align: center;
        padding: 2px;
        font-size: 12px;
    }

    [data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-timepicker"].table,
    [data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-headertable"].table {
        width: 100%;
        margin: 0 auto;
        direction: ltr;
    }

    [data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-headertable"] .dropdown-menu[aria-labelledby="dropdownMenuPersianYear"] {
        height: 200px;
        overflow: auto;
    }

    [data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-headertable"] .dropdown-menu li{
        text-align: center;
    }

    [data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-timepicker"].table td,
    [data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-headertable"].table td {
        text-align: center;
        vertical-align: middle;
        border: 0;
    }

[data-name="md-persiandatetimepicker-titlemonth"],
[data-name="md-persiandatetimepicker-titleyear"] {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    font-weight: bold;
}

[aria-labelledby="dropdownMenuPersianmonths"] li > a,
[aria-labelledby="dropdownMenuPersianyear"] li > a {
    margin: 0;
    padding: 0 10px 0 10px;
    text-align: center;
}

[aria-labelledby="dropdownMenuPersianmonths"] .divider {
    margin: 1px;
    padding: 0;
}

[data-name="md-persiandatetimepicker"] table.table tr[data-name="md-persiandatetimepicker-weekdaysnames"] td {
    font-size: 13px;
    font-weight: bold;
}

[data-name="disabled-day"] {
    color: #ccc;
}

[data-name="day"], [data-name="today"] {
    cursor: pointer;
    padding: 2px;
}

    [data-name="day"]:not([class^="text"]) {
        color: #333;
    }

    [data-name="day"]:hover {
        background: #eee;
    }

    [data-name="today"]:hover {
        background: #73acdc;
    }

[data-name="md-persiandatetimepicker-timepicker"] [data-name="clock-hour"],
[data-name="md-persiandatetimepicker-timepicker"] [data-name="clock-minute"],
[data-name="md-persiandatetimepicker-timepicker"] [data-name="clock-second"] {
    font-size: 12px;
    width: 50px;
    padding: 2px;
    direction: ltr;
    text-align: center;
    height: auto;
    display: inline-block;
}

/* by Sina-Soltani66 */
.zIndexCorrected {
    z-index: 100000;
}
