/******* IMPORTANT LOOK HERE
CREATE NAVBAR FROM BELOW SITE **************
https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/

@font-face {
    font-family: 'B Koodak';
    src: url('../../fonts/IRANSansWeb.ttf') format('truetype');
}

body {
    font-family: 'B Koodak';
    font-size: 18px;
}

.navbar-default {
    background-color: #7c0005;
    border-color: #4d8fc8;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #e53935;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #000000;
    background-color: #4d8fc8;
}

.navbar-default .navbar-toggle {
    border-color: #4d8fc8;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4d8fc8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #000000;
        background-color: #4d8fc8;
    }
}

.cootext {
    text-align: justify;
    margin: 10px 0;
}

.title h2 {
    text-align: center;
    margin: 30px 0;
}

.map {
    width: 100%;
    height: 361px;
}

.contact-form {}

.about-text {
    text-align: justify;
    margin: 50px 0;
}

.news-item {
    border: 2px inset gray;
    padding: 15px;
    margin: 5px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.news-title {
    font-size: 20px;
}

.news-img {
    width: 100%;
    display: inline;
}

.news-text {
    font-size: 18px;
    display: inline;
}

.lead{
    text-align: justify;
}


/*-----------------------------------button------------------------------------*/

.btn {
    margin: 0px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs {
    font-weight: 300;
}

.btn-hot {
    color: #fff;
    background-color: #db5566;
    border-bottom: 2px solid #af4451;
}

.btn-hot:hover,
.btn-sky.active:focus,
.btn-hot:focus,
.open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: #df6a78;
    border-bottom: 2px solid #b25560;
    outline: none;
}

.btn-hot:active,
.btn-hot.active {
    color: #fff;
    background-color: #c04b59;
    border-top: 2px solid #9a3c47;
    margin-top: 2px;
}

.btn-sunny {
    color: #fff;
    background-color: #f4ad49;
    border-bottom: 2px solid #c38a3a;
}

.btn-sunny:hover,
.btn-sky.active:focus,
.btn-sunny:focus,
.open>.dropdown-toggle.btn-sunny {
    color: #fff;
    background-color: #f5b75f;
    border-bottom: 2px solid #c4924c;
    outline: none;
}

.btn-sunny:active,
.btn-sunny.active {
    color: #fff;
    background-color: #d69840;
    border-top: 2px solid #ab7a33;
    margin-top: 2px;
}

.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border-bottom: 2px solid #41996c;
}

.btn-fresh:hover,
.btn-sky.active:focus,
.btn-fresh:focus,
.open>.dropdown-toggle.btn-fresh {
    color: #fff;
    background-color: #66c796;
    border-bottom: 2px solid #529f78;
    outline: none;
}

.btn-fresh:active,
.btn-fresh.active {
    color: #fff;
    background-color: #47a877;
    border-top: 2px solid #39865f;
    outline: none;
    outline-offset: none;
    margin-top: 2px;
}

.btn-sky {
    color: #fff;
    background-color: #0bacd3;
    border-bottom: 2px solid #098aa9;
}

.btn-sky:hover,
.btn-sky.active:focus,
.btn-sky:focus,
.open>.dropdown-toggle.btn-sky {
    color: #fff;
    background-color: #29b6d8;
    border-bottom: 2px solid #2192ad;
    outline: none;
}

.btn-sky:active,
.btn-sky.active {
    color: #fff;
    background-color: #0a97b9;
    border-top: 2px solid #087994;
    outline-offset: none;
    margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

.fleft {
    float: left;
}

.bottom-space {
    margin-bottom: 40px;
}